.intro {
    width: 76.875%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 92px 0 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90.625vw;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 93.75%;
        padding: 88px 0 88px;
    }
}

@media screen and (max-width: 635px){
    .intro {
        width: 90%;
        padding: 64px 0;
    }
}