.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

@media screen and (max-width: 635px) { 
    .place__website {
        width: 90%;
        margin: 0 auto;
    }
}